/* 定义不同主题下的变量值 */
:root {
  --primary-color: #007bff;
}
html.dark {
  --primary-color: #6c757d;
}
html.dark-blue {
  --primary-color: #343a40;
}
/* 全局样式 */
body {
  padding: 0;
  margin: 0;
  background-color: var(--primary-color);
  color: #333;
  font-size: 14px;
}
html,
body,
#app {
  width: 100%;
  height: 100%;
}
